@model BudgetSquad.Models.PartyMember
@{
    ViewBag.Title = "VoteOnActivites";
    Layout = "~/Views/Shared/_PartyMemberLayout.cshtml";
}

<h2>VoteOnActivites</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>MadeActivites</h4>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.FoodDrinkList, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.FoodDrinkList, new SelectList(ViewBag.FoodDrinkList), "Choose type of Food", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FoodDrinkList, "", new { @class = "text-danger" })
            </div>
        
            @Html.LabelFor(model => model.EntertainmentList, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.EntertainmentList, new SelectList(ViewBag.EntertainmentList), "Choose type of Entertainment", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EntertainmentList, "", new { @class = "text-danger" })
            </div>
        
            @Html.LabelFor(model => model.LeisureList, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.LeisureList, new SelectList(ViewBag.LeisureList), "Choose type of Leisure", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LeisureList, "", new { @class = "text-danger" })
            </div>
        
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Vote", "PostVoteOnActivites", "PartyMembers",FormMethod.Post)
                @*<input type="button" value="Create" onclick="location.href='@Url.Action("~/PartyMembers/VoteOnActivites/1")'" />*@
            </div>
        </div>



    </div>
}